<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="etec.coda_softwares.meupdv">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Não queria, mas pra cortar imagens é nescessario -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TemaPadrao">
        <activity
            android:name=".TelaInicial"
            android:logo="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuPrincipal.MenuPrincipal"
            android:label="@string/title_activity_menu_principal" />
        <activity
            android:name=".CadastrarProduto"
            android:label="@string/title_activity_cadastrar_produto"
            android:parentActivityName=".Produtos"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="etec.coda_softwares.meupdv.Produtos" />
        </activity>
        <activity
            android:name=".CadastrarFornecedor"
            android:label="@string/title_activity_cadastrar_fornecedor"
            android:parentActivityName=".Fornecedores"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Fornecedores" />
        </activity>
        <activity
            android:name=".NovoPDV"
            android:parentActivityName=".menuPrincipal.MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Produtos"
            android:label="@string/title_activity_produtos"
            android:parentActivityName=".menuPrincipal.MenuPrincipal"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="etec.coda_softwares.meupdv.menuPrincipal.MenuPrincipal" />
        </activity>
        <activity
            android:name=".DetalhesProduto"
            android:label="@string/title_activity_produto"
            android:parentActivityName=".Produtos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fornecedores"
            android:parentActivityName=".menuPrincipal.MenuPrincipal"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="etec.coda_softwares.meupdv.menuPrincipal.MenuPrincipal" />
        </activity>
        <activity
            android:name=".CarregarImagem"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Caixa"
            android:parentActivityName=".menuPrincipal.MenuPrincipal"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="etec.coda_softwares.meupdv.menuPrincipal.MenuPrincipal" />
        </activity>
        <activity
            android:name=".PosCaixa"
            android:label="@string/title_activity_pos_caixa"
            android:parentActivityName=".Caixa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="etec.coda_softwares.meupdv.Caixa" />
        </activity>
        <activity android:name=".EditPDV" />
        <activity
            android:name=".Analisis"
            android:label="Analise"
            android:parentActivityName=".menuPrincipal.MenuPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="etec.coda_softwares.meupdv.menuPrincipal.MenuPrincipal" />
        </activity>
    </application>

</manifest>